/* ===============================
=            Choices            =
=============================== */
.choices {
    position: relative;
    overflow: hidden;
}

.choices:focus {
    outline: none;
}

.choices:last-child {
    margin-bottom: 0;
}

.choices.is-open {
    overflow: visible;
}

.choices.is-disabled .choices__inner,
.choices.is-disabled .choices__input {
    background-color: var(--lgrey5);
    border-color:var(--lgrey5);
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
}

.choices.is-disabled .choices__item {
    cursor: not-allowed;
}

.choices [hidden] {
    display: none !important;
}

.choices[data-type*=select-one] {
    cursor: pointer;
}

.choices[data-type*=select-one] .choices__inner {}

.choices[data-type*=select-one] .choices__input {
    /*background:#fff url('../img/icons/search.svg') right 10px center no-repeat;
    background-size:17px auto;
    width:100%;
    padding: 8px 10px;
    border:0 !important;
    margin:0;*/
    
    display: none;
} 

.choices[data-type*=select-one] .choices__button {
    background-image: url('../img/icons/dropdown.svg') center center no-repeat;
    padding: 0;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -10px;
    margin-right: 25px;
    height: 20px;
    width: 20px;
    border-radius: 10em;
    opacity: 0.25;
}

.choices[data-type*=select-one] .choices__button:hover,
.choices[data-type*=select-one] .choices__button:focus {
    opacity: 1;
}

.choices[data-type*=select-one] .choices__button:focus {
    
}

.choices[data-type*=select-one] .choices__item[data-value=""] .choices__button {
    display: none;
}

.choices[data-type*=select-one]::after {
    background:url(../img/icons/dropdown.svg) center center no-repeat;
    width: 20px;
    height: 20px;
    background-size: 100%;
    content: '';
    display: block;
    position: absolute;
    right: 11.5px;
    top: 11px;
    pointer-events: none;
}

.choices[data-type*=select-one].is-open::after,
.choices[data-type*=select-one]:hover::after {
    background:url(../img/icons/dropdownhover.svg) center center no-repeat;
    width:22px;
    height:22px;
    background-size: 100%;
    content:'';
    display: block;
    position: absolute;
    right: 11.5px;
    top: 12px; 
}

.choices[data-type*=select-one][dir=rtl]::after {
    left: 11.5px;
    right: auto;
}

.choices[data-type*=select-one][dir=rtl] .choices__button {
    right: auto;
    left: 0;
    margin-left: 25px;
    margin-right: 0;
}  

.choices__inner {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background: #fff;
    font-size: 13px;
    padding: 0px 8px;
    border-radius: 3px;
    
    overflow: hidden;
}

.is-focused .choices__inner,
.is-open .choices__inner {
    border-color: var(--lpurple);
}

.is-open .choices__inner {
    border-radius: 2.5px 2.5px 0 0;
}

.is-flipped.is-open .choices__inner {
    border-radius: 0 0 2.5px 2.5px;
}


[dir=rtl] .choices__list--single {
    padding-right: 4px;
    padding-left: 16px;
}

.choices__list--single .choices__item {
    width: 100%;
}
 
.choices__list--dropdown,
.choices__list[aria-expanded] {
    visibility: hidden;
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--lgrey4);
    top: 100%;
    margin-top: 6px;
    border-radius: 4px;
    overflow: hidden;
    word-break: break-all;
    will-change: visibility;
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
    visibility: visible;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
    border-color: var(--lgrey4);
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
    top: auto;
    bottom: 100%;
    margin-top: 0;
    margin-bottom: -1px;
    border-radius: 0.25rem 0.25rem 0 0;
}

.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
    position: relative;
    max-height: 300px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    will-change: scroll-position;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
    position: relative;
    padding: 10px;
    font-size: 14px;
}

[dir=rtl] .choices__list--dropdown .choices__item,
[dir=rtl] .choices__list[aria-expanded] .choices__item {
    text-align: right;
}

@media (min-width: 640px) {

    .choices__list--dropdown .choices__item--selectable,
    .choices__list[aria-expanded] .choices__item--selectable {
        padding-right: 100px;
    }

    .choices__list--dropdown .choices__item--selectable::after,
    .choices__list[aria-expanded] .choices__item--selectable::after {
        /*content: attr(data-select-text);*/
        font-size: 14px;
        opacity: 0;
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable,
    [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable {
        text-align: right;
        padding-left: 100px;
        padding-right: 10px;
    }

    [dir=rtl] .choices__list--dropdown .choices__item--selectable::after,
    [dir=rtl] .choices__list[aria-expanded] .choices__item--selectable::after {
        right: auto;
        left: 10px;
    }
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
    background-color:#495288;
    color: #fff;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted::after,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted::after {
    opacity: 0.5;
}

.choices__item {
    cursor: default;
}

.choices__item--selectable {
    cursor: pointer;
}

.choices__item--disabled {
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
    color: var(--lgrey3);
}


.choices__input {
    display: inline-block;
    vertical-align: baseline;
    background-color: #f9f9f9;
    font-size: 14px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 0;
    max-width: 100%;
    padding: 4px 0 4px 2px;
}

.choices__input:focus {
    outline: 0;
}

.choices__input::-webkit-search-decoration,
.choices__input::-webkit-search-cancel-button,
.choices__input::-webkit-search-results-button,
.choices__input::-webkit-search-results-decoration {
    display: none;
}

.choices__input::-ms-clear,
.choices__input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

[dir=rtl] .choices__input {
    padding-right: 2px;
    padding-left: 0;
}

.choices__placeholder {
    opacity: 0.5;
}


/* =====  End of Choices  ====== */

/* CUSTOM */
.select-intable .choices__placeholder {
    opacity: 1;
    color: #CFDAE6;
}
.select-intable .choices__list--dropdown .choices__item--selectable, .choices__list[aria-expanded] .choices__item--selectable {
    padding: 7px 10px;
}

.choices__item.choices__item--selectable {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
