 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
    --black: #1E2225;
    --grey: #475259;
    --muted: #525D6E;
    --lgrey1: #8595A6;
    --lgrey2: #ADBDCC;
    --lgrey3: #BFCCD9;
    --lgrey4: #CFDAE6;
    --lgrey5:#dae6f2;
    --white: #f5f7fa;
    --cyan: #73cbea;
    --pink: #F1416C;
    --lpink:#fbd3da;
    --orange: #ef7f48;
    --lime: #b7e24c;
    --lgreen: #65db9f;
    --dgreen: #55bb7f;
    --dpurple: #4a5384;
    --lpurple2:#ead5f8;
    --lpurple: #5c6ade;
    --lblue:#c4efff;
    --dblue:#4ea5c5;
    --lyellow:#fff9c5;
    --yellow:#d7b30b;
    --lblue2:#cceaf5;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    background: white;
}
.bg-lyellow {
    background: var(--lyellow);
}
.yellow {
    color: var(--yellow);
}
.bg-black {
    background: #1f2225
}

.bg-grey {
    background: #495258;
}

.bg-lgrey1 {
    background: #8895a4
}
.bg-lblue {
    background: var(--lblue)
}

.bg-lgrey2 {
    background: #b0bdca;
}

.bg-lgrey3 {
    background: #c1ccd8;
}

.bg-lgrey4 {
    background: #d1dae5;
}
.bg-lgrey5 {
    background: var(--lgrey5);
}

.bg-white {
    background: #f5f7fa  !important;
}

.bg-cyan {
    background: #73cbea;
}

.bg-pink {
    background: #F1416C;
}

.bg-orange {
    background: #ef7f48;
}

.bg-lime {
    background: #b7e24c;
}

.bg-lgreen {
    background: #65db9f;
}

.bg-dgreen {
    background: #55bb7f;
}

.bg-dpurple {
    background: #4a5384;
}

.bg-lpurple {
    background: #5c6ade;
}
.bg-lpurple2 {
    background: var(--lpurple2);
}
.bg-lpink {
    background:var(--lpink);
}

.black {
    color: #1f2225;
}

.grey {
    color: #495258;
}

.lgrey1 {
    color: #8895a4;
}

.lgrey2 {
    color: #b0bdca;
}

.lgrey3 {
    color: #c1ccd8;
}

.lgrey4 {
    color: #d1dae5;
}
.lgrey5 {
    color: var(--lgrey5);
}
.muted {
    color: #525D6E;
}

.white {
    color: #f5f7fa !important;
}

.cyan {
    color: #73cbea;
}

.pink {
    color: #df506e;
}

.orange {
    color: #ef7f48;
}

.lime {
    color: #b7e24c;
}

.lgreen {
    color: #65db9f;
}

.dgreen {
    color: #55bb7f;
}

.dpurple {
    color: #4a5384;
}

.lpurple {
    color: #5c6ade;
}
.lpink {
    color:var(--lpink);
}
.lblue {
    color: var(--lblue)
}
.dblue {
    color:var(--dblue);
}
.bg-lblue2 {
    background:var(--lblue2);
}

p,
li,
td,
th,
label,
a {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

.text-sm {
    font-size: 12px !important;
}
.text-xs {
    font-size: 11px !important;
}
.text-md {
    font-size: 16px !important;
    font-weight: 500;
}
.text-md2 {
    font-size: 14px !important;
    font-weight: 400;
}
.text-lg {
    font-size: 20px !important;
    font-weight: 500;
}

.text-xl {
    font-size: 25px !important;
    font-weight: 500;
}
 

.font-weight-bold {
    font-weight: 700 !important;
}
.font-weight-med {
    font-weight: 500 !important;
}
.font-weight-light {
    font-weight: 300 !important;
}

h5,
.h5 {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.01em;
}

h4,
.h4 {
    font-size: 30px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.01em;
}

h3,
.h3 {
    font-size: 39px;
    font-weight: 500;
    line-height: 47px
}

h2,
.h2 {
    font-size: 47px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: -0.01em;
}

h1,
.h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: -0.015em;

}
.no-shadow {
	box-shadow: none !important
} 

.form-control {
    color: var(--grey);
    font-weight: 300
}

.form-control,
.input-group-text {
    background: #fff;
    font-size: 13px;
    padding: 8px 9px;
    border-radius: 3px;
    border: 0
}
.form-control:disabled, .form-control[readonly] {
    background-color: var(--lgrey5);
    border-color:var(--lgrey5);;
    color:#222;
    cursor:not-allowed;
}
::placeholder {
    font-size: 12px;
    color: #CFDAE6 !important;
} 
label {
    margin: 0 0 10px 0;
}
 
input:focus,
select:focus,
textarea:focus {
    border: 0;
    outline: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* buttons */
.btn {
    border-radius: 5px;
    padding: 10px 18px;
    border-width: 2px;
    font-weight: 300;
    font-size: 13px;
    white-space: nowrap;
    cursor: pointer;
}

.btn-primary {
    background: var(--lpurple);
    border-color: var(--lpurple);
}

.btn-primary:hover,.btn-secondary:hover {
    background: var(--dpurple);
    border-color: var(--dpurple);
    color: #fff;
}
.btn-secondary {
    background: transparent;
    border-color: var(--lpurple);
    color:var(--lpurple);
}
.btn-secondary-2 {
    background: transparent;
    border-color: var(--lpurple);
    color:var(--muted);
    border-width: 1px;
}
  
.btn-sm {
    font-size: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
} 

/* dashboard, sidebar */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch; 
    height: 100vh;
}
 
.stack-header {
    padding:15px 17px;
    border-radius:4px;
    margin-bottom: 4px;
}
.stack-row {
    width:100%; 
    background:#F2F5F8;
    padding: 8px 12px;
    border-radius:4px;
    margin-bottom: 4px;
    
} 
.stack-row input[type=radio] {
    margin-left:2px;
}
.stack-row [class*=col] {
    display: flex;
    align-items: center;
    line-height: 2.6;
} 

.choices {
    width: 100%;
}
.wrapper > .container-fluid > .row > .col-lg-6:last-child {
    padding:0 40px;
}
@media screen and (max-width:991px) {
    .logo {
        width:130px;
    }
    .col-lg-6.bg-lpurple {
        padding-top:30px;
        padding-bottom:30px;
    }
    .col-lg-6.bg-lpurple p {
        margin-bottom:10px !important;
        padding:0 !important;
        line-height:20px !important;
    }
    .wrapper {
        min-height: 0;
        display:block;
    }
    .wrapper > .row {
        width: unset !important;
    }
}
@media screen and (max-width:991px) {
    .wrapper > .container-fluid > .row > .col-lg-6:last-child {
    padding: 30px;
    }
    .stack-row input[type=text] {
        margin-bottom: 5px;
    }
}
